/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
main {
  min-width: 700px;
  padding: 1rem;
  border: 2px solid rgb(101, 101, 101);
  margin-top: 3rem;
  line-height: 1.5rem;
}
#testoAlternato {
  /* overflow: hidden; */
  position: relative;
}
i {
  color: #009dff;
  display: block;
  position: absolute;
  bottom: 0;
  transform: translate(191px, -19px);
  animation: rollWords 3s 1s infinite;
  opacity: 0;
}

.parole i:nth-child(2) {
  transform: translate(191px, -19px);
  animation: rollWords 3s 2s infinite;
}
.parole i:nth-child(3) {
  transform: translate(191px, -19px);
  animation: rollWords 3s 3s infinite;
}

@keyframes rollWords {
  0% {
    opacity: 0;
    transform: translate(191px, -20px);
  }
  25% {
    opacity: 1;
    transform: translate(191px, 0px);
  }
  50% {
    opacity: 0;
    transform: translate(191px, 20px);
  }
  75% {
    opacity: 0;
    transform: translate(191px, 40px);
  }
  100% {
    opacity: 0;
    transform: translate(191px, 60px);
  }
}
