/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
main {
  min-width: 700px;
  padding: 1rem;
  border: 2px solid rgb(101, 101, 101);
  margin-top: 3rem;
  line-height: 1.5rem;
}
i {
  color: #009dff;
  display: block;
}
span {
  display: inline-block;
}

@keyframes rollWords {
  0% {
    opacity: 0;
    transform: translate(-1px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
